.home-container {
  padding: 20px 10px;
  font-size: 22px;
  text-align: center; 
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.button-card {
  margin-top: 21px;
  margin-bottom: 121px;
}

.button-card p {
  margin-top: 9px;
  font-size: 18px;
  color: #585858;  
}

.home-button-container{
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #EDEDED;
  border-radius: 10px;
}

.home-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00285F;
  color: #FFFFFF;
  border-radius: 10px;
  
}

.home-image-container h1{
  /*padding: 0px 21px 13px 22px;*/
  font-size: 22px;
  width: 280px;
  margin-bottom: 13px;
}

.home-image-container p{
  /*padding: 0px 29px 51px 20px;*/
  font-size: 14px;
  font-weight: normal;
  width: 270px;
  margin-bottom: 51px;
}
.home-image-container img {
  padding: 62px 28px 35px 28px;
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;;
    font-size: 36px;
  }

  .home-image-container h1{
    font-size: 36px;
    width: 450px;
    margin-bottom: 0;
  }

  .home-image-container p{
    font-size: 18px;
    width: 450px;
    margin-bottom: 41px;
  }

  .home-image-container img {
    /*padding: 22px 102px 19px 102px;*/
    padding: 0;
    margin-top: 22px;
    width: 350px;
    height: auto;
    margin-bottom: 19px;
  }

  .button-card {
    margin-top: 30px;
    margin-bottom: 102px;
  }

  .home-button-container{
    padding: 42px 0 42px 85px;
    flex-direction: row;
        
  }

  .home-button-container p{
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .home-image-container {
    padding: 80px 0 40px 0;
  }

  .home-button-container{
    margin-bottom: 300px;
  } 
 }

@media (min-width: 992px) {
  .home-image-container img {
    width: 420px;
  }
  
  .home-image-container p{
    margin-bottom: 125px;
  }
  
}

@media (min-width: 1200px) {
  .home-container {
    padding: 30px 150px;
  }

  .home-image-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;   
  }

  .home-image-container img {
    width: 320px;
    margin-left: 20px;    
  }

  .home-image-container h1 {
    padding-left: 0px;
    text-align: left;    
  }

  .home-image-container p {
    text-align: left;
    margin-bottom: 0px;    
  }
}
